#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #183893;
}
.intro {
  margin-bottom: 2rem;
}
#home h2 {
  color: #ff6d65;
  font-size: 70px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1rem;
}
#home p {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: 200;
}
.icons {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}
.social-media {
  width: 25px;
  height: 25px;
  margin: 0.5rem;
}
.cls-1 {
  fill: white;
  transition: fill 0.2s ease-in-out;
}
.social-media:hover .cls-1 {
  fill: #ff6d65;
}
@media screen and (max-width: 420px) {
  #home h2 {
    font-size: 50px;
  }
  #home p {
    font-size: 24px;
  }
}
